.about-us {

    &__inner {
        display: flex;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }
    }

    &__header {
        position: relative;
        max-width: 731px;
        max-height: 720px;
        display: flex;

        @include desktop-s {
            max-width: 650px;
        }
    }

    &__image {
        position: relative;
        left: -13%;
        top: -10%;

        &-videobutton {
            position: absolute;
            max-width: 172px;
            max-height: 150px;
            left: 50%;
            z-index: 1;
            top: -2%;
        }
    
        &-food {
            position: absolute;
            max-width: 72px;
            max-height: 48px;
            left: 43%;
            top: 69%;
    
            @include tablet{
                top: 78%;
            }
        }
    }

    &__body {
        max-width: 533px;
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        padding-top: 41px;

        @include desktop-s {
            max-width: 300px;
            row-gap: 20px;
        }

        @include tablet {
            max-width: 533px;
            width: 100%;
        }
    }

    &__title {
        font-family: var(--second-family);
        position: relative;

        &::after {
            @include square(92px);
            position: absolute;
            content: '';
            background: url(../../icons/AboutUsIcons/PawBig.svg) no-repeat center / contain;
            left: 84%;
            top: -102%;

            @include desktop-s{
                left: 74%;
                top: -81%;
            }

            @include tablet{
                display: none;
            }
        }
    }
}