.desktop-s-overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 14px 20px;
    border: none;

    &:modal {
        max-width: 100%;
        max-height: 100%;
    }

    &__close-button-wrapper {
        display: flex;
        justify-content: end;
    }

    &__body {
        @include flex-center;

        flex-direction: column;
        row-gap: 50px;
        min-height: 80vh;
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 50px;
    }

    &__item {
        font-size: 35px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        background-color: transparent;
    }

    &__button{
       min-width: 220px; 
    }
}