.details {
    background: linear-gradient(180deg, #f6fffd 0%, rgba(251, 251, 251, 0) 100%);

    &__inner {
        display: flex;
        column-gap: 8px;

        @include desktop-s{
            flex-direction: column-reverse;
        }
    }

    &__body {
        display: flex;
        max-width: 508px;
        padding-top: 74px;
        flex-direction: column;
        align-items: start;
        row-gap: 40px;

        @include desktop-s{
            margin-bottom: 30px;
        }

        @include tablet{
            row-gap: 25px;
        }
    }

    &__description {
        max-width: 533px;
    }

    &__button {
        width: 100%;
    }

    &__image-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        margin-inline: auto;
    }

    &__decor {
        position: absolute;

        &--paw {
            @include square(65);
            left: 8%;
            top: 14%
        }

        &--ball {
            @include square(62);
            left: 12%;
            top: 46%
        }

        &--collar {
            width: 69px;
            height: 37px;
            left: 92%;
            top: 33%;

            @include tablet{
                left: 84%;
            }
        }

        &--bone {
            width: 59px;
            height: 41px;
            left: 85%;
            top: 77%;
        }
    }
}