.join-form {
    width: 60%;
    box-shadow: 0 4px 34px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--color-light);

    @include desktop-s {
        width: 85%;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 33px 37px 21px;

        @include desktop-s {
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
        }
    }

    &__button {
        width: 100%;
    }

    &__input {
        width: 100%;
        border: none;
        text-align: center;

        &::placeholder {
            font-weight: 400;
            font-size: 19px;
        }

        &-wrapper {
            position: relative;
            width: 330px;
            display: flex;
            align-items: center;

            @include desktop-s {
                width: 335px;
            }

            @include mobile {
                width: 265px;
            }

            &::before {
                position: absolute;
                content: '';
                background: url(../icons/FooterIcons/LetterIcon.svg)no-repeat center / contain;
                width: 30px;
                height: 22px;

                @include mobile {
                    display: none;
                }
            }
            
            &:has(.join-form__input:focus)::before,
            &:has(.join-form__input:not(:placeholder-shown))::before {
                opacity: 0;
            }
        }
    }
}