.services {
    position: relative;
    z-index: -1;
    background: linear-gradient(180deg, #f6fffd 0%, rgba(251, 251, 251, 0) 100%);

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 52px;
        margin-bottom: 41px;
        padding-bottom: 48px;
        padding-top: 105px;
        margin-top: -88px;

        @include desktop-s {
            align-items: normal;
            row-gap: 35px;
        }
    }

    &__header {
        position: relative;
        display: inline-block;
        max-width: 255px;
        padding-left: 10px;
    }

    &__title {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 60%;
            height: 3px;
            background: var(--color-blue);
        }
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 195px);
        column-gap: 20px;

        @include desktop-s {
            grid-template-columns: repeat(2, 355px);
            gap: 25px;
        }

        @include tablet {
            grid-template-columns: 1fr;
            width: 100%;
            padding-inline: 30px;
        }
    }

    &__item{
        
        @include desktop-s {
            &:last-child {
             grid-column: 1 / -1;
            }
        }
    }
}