.testimonial-card {

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 40px;

        @include desktop-s {
            column-gap: 30px;
        }

        @include tablet {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            padding-inline: 50px;
        }

        @include mobile {
            padding-inline: 0;
        }
    }

    &__item {
        max-height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 33px 33px 0 0;
        background-color: var(--color-yellow);
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 70%;

        @include desktop-s {
            height: 60%;
        }
    }

    &__image {
        object-fit: contain;
        position: relative;
        bottom: -30px
    }

    &__body {
        display: flex;
        width: 100%;
        height: 30%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
        row-gap: 15px;
        background-color: var(--color-blue);
        z-index: 1;

        @include desktop-s {
            height: 40%;
            padding: 8px;
        }
    }

    &__title {
        color: var(--color-yellow-alt);
    }

    &__description p {
        font-size: 14px;
        color: var(--color-light);

        @include desktop-s {
            text-align: center;
        }
    }

    &__rating {
        display: flex;
        column-gap: 14px;
        align-items: center;

        &-list {
            display: flex;
            column-gap: 14px;

            @include desktop-s {
                column-gap: 5px;
            }
        }

        &-grade {
            font-size: 14px;
            color: var(--color-light);
            font-weight: 400;
        }
    }
}