$desktop: 1280px;
$desktop-above: 1281px;

$tablet: 1080px;
$tablet-above: 1081px;

$mobile: 768px;
$mobile-above: 769px;

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin desktop-above {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media(max-width: $tablet) {
        @content;
    }
}

@mixin tablet-above {
    @media(min-width: $tablet) {
        @content;
    }
}

@mixin mobile {
    @media(max-width: $mobile) {
        @content;
    }
}

@mixin mobile-above {
    @media(min-width: $mobile) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
     @media (hover: none){
        &:active{
            @content;
        }
     }
}