.container {
    max-width: calc(var(--conainer-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.container--big {
    max-width: var(--conainer-big-width);
    margin-inline: auto;
    overflow: hidden;
}

.container--mid {
    max-width: var(--container-mid-width);
    margin-inline: auto;
    overflow: hidden;
    padding-right: 158px;
}

.visually-hidden {
    @include visually-hidden
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

.visible-tablet {
    @include tablet-above {
        display: none !important;
    }
}

.hidden-tablet {
    @include tablet {
        display: none !important;
    }
}

.visible-desktop-s {
    @include desktop-s-above {
        display: none !important;
    }
}

.hidden-desktop-s {
    @include desktop-s {
        display: none !important;
    }
}

.big-label {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
}

.small-label {
    font-family: var(--font-family-base);
    font-weight: 700;
    font-size: 40px;
}