:root {
    --color-blue: #124c5f;
    --color-light: #ffffff;
    --color-blue-light: #c7e7e1;
    --color-dark: #000;
    --color-yellow: #ddca69;
    --color-gray:  #4e4c46;
    --color-grey-alt: #c4c4c4;
    --color-blue: #98f2e1;
    --color-gold: #ffee94;

    --color-gradient: linear-gradient(180deg, #fffae0 0%, rgba(255, 255, 255, 0) 100%);

    --border-gold: 1px solid var(--color-gold);
    --border-blue: 1px solid var(--color-blue);

    --box-shadow: 0 4px 74px 0 rgba(199, 231, 225, 0.27);

    --border-radius: 25px;
    --border-radius-small: 5px;

    --button-height: 49px;

    --font-family-base:  "Roboto", sans-serif;

    --transition-duration: 0.2s;



}