@import'normalize',
'fonts',
'media',
'mixins',
'variables',
'utils',
'globals';

@import 'blocks/button',
'blocks/burger-button',
'blocks/cross-button',
'blocks/desktop-s-overlay',
'blocks/header',
'blocks/hero',
'blocks/service-card',
'blocks/services',
'blocks/about-us',
'blocks/products-card',
'blocks/products',
'blocks/details',
'blocks/testimonial-card',
'blocks/testimonial',
'blocks/join-form',
'blocks/soc1als',
'blocks/footer';